.color {
    position: relative;
    padding: 20px;
    text-align: center;
    border: 1px solid var(--decor-color);

    &:hover {
        border-color: var(--accent-color);
    }

    &__expample {
        width: 100px;
        height: 30px;
        margin: auto;
    }
}